@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
body {
  background-image: url(../images/subtle_grunge.png);
  background-repeat: repeat;
  font-family: arial;
  margin: 0;
  padding: 0;
}
.app {
  margin: 100px auto;
  width: 800px;
  text-align: center;
}
.recorder_view {
  margin-top: 50px;
}
.arrow {
  display: none;
  position:fixed;
  top: 20px;
  right: 30px;
  font-size: 120px;
  color: #34CF48;
  text-shadow: 0px 0px 1px #444;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 1s;
  -moz-animation-delay: .2s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -ms-animation-duration: 1s;
  -ms-animation-delay: .2s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  -o-animation-duration: 1s;
  -o-animation-delay: .2s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.asking .arrow {
  display: block;
}
h1 {
  margin-bottom: 0;
  font-size: 100px;
  color: #34BFCF;
  font-family: 'Cherry Swash', cursive;
}
.poc {
  position: fixed;
  bottom: 0;
  padding: 20px 0;
  height: 20px;
  font-size: 20px;
  text-align: center;
  background: #000;
  color: #FFF;
  width: 100%;
}
.problem {
  color: #B05B4A;
}
p {
  color: #000;
  margin-top: -10px;
  font-size: 12px;
}
.preview {
  margin-top: 100px;
}
.player {
  margin-bottom: 30px;
}
.action {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
}
.support {
  margin: 0;
  list-style-type: none;
}
.icon {
  margin-right: 5px;
}
.supported {
  color: #1C9416;
}
.unsupported {
  color: #C71A1A;
}
.supported, .unsupported {
  display: inline;
  margin:0 10px;
}
button {
  position: relative;
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: rgba(219,87,5,1);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 3em;
  display: block;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  margin: 100px auto;
  width: 160px;
  text-align: center;
  border: none;

  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

button:active {
  -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 6px;
}
